NEXT_PUBLIC_PUSHER_KEY=yourkey
NEXT_PUBLIC_PUSHER_CLUSTER=yourkey

PUSHER_APP_ID=yourkey
PUSHER_SECRET=yourkey

NEXT_PUBLIC_STUN_URL=stun:stun.relay.metered.ca:80

NEXT_PUBLIC_TURN_URL_80=turn:yourkey@standard.relay.metered.ca:80
NEXT_PUBLIC_TURN_URL_80_TCP=turn:yourkey@standard.relay.metered.ca:80?transport=tcp
NEXT_PUBLIC_TURN_URL_443=turn:yourkey@standard.relay.metered.ca:443
NEXT_PUBLIC_TURNS_URL_443_TCP=turns:yourkey@standard.relay.metered.ca:443?transport=tcp

NEXT_PUBLIC_TURN_USERNAME=yourkey
NEXT_PUBLIC_TURN_PASSWORD=yourkey
